
@import './utils/variables';
@import './utils/visually-hidden';

@import './base/reset';
@import './base/common';

@import './components/section';
@import './components/container';
@import './components/headers2styles';
@import './components/button';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/product';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/customers';
@import './layouts/contacts';
@import './layouts/footer';
