<section class="section sections__background" id="about">
  <div  class="about">
      <div class="about__header">
        <p class="about__subtitle">tradition and love</p>
        <h2 class="section__title">how it’s made?</h2>
      </div>
      <div class="about__list">
        <div class="about__item">
            <picture>
                <source
                media="(min-width: 1200px)"
                srcset="./images/about/about-2_desk.png 1x, ./images/about/about-2_desk@2x.png 2x, ./images/about/about-2_desk@3x.png 3x"
                type="image/png"
                />
                <source
                media="(min-width: 768px)"
                srcset="./images/about/about_tab.png 1x, ./images/about/about_tab@2x.png 2x, ./images/about/about_tab@3x.png 3x"
                type="image/png"
                />
                <source
                media="(max-width: 767px)"
                srcset="./images/about/about-1_mob.png 1x, ./images/about/about-1_mob@2x.png 2x, ./images/about/about-1_mob@3x.png 3x"
                type="image/png"
                />
                <img class="about__png" src="./images/about/about-1_mob.png" alt="Cow">
            </picture>
        </div>
        <div class="about__message conteiner">
          <div class="about__background">
            <p class="about__text">
                <b>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</b>
            </p>
            <p class="about__text about__text--grey">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <span class="about__span">Aliquam erat volutpat. Aenean accumsan.</span>
            </p>
          </div>
            <button class="about__button" type="button">Read more
              <svg class="about__button--icon" width="7" height="10">
                <use href="./images/icons.svg#icon-header-arrow"></use>
              </svg>
            </button>
        </div>
      </div>
    </div>
  </section>
