<section class="advantages" id="advantages-id">
    <div class="container">
        <h2 class="visually-hidden">Our product advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-list__items icon-milk">
                <p class="advantages-list__items-text">721</p>
                <p class="advantages-list__items-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages-list__items icon-apple">
                <p class="advantages-list__items-text">16kg</p>
                <p class="advantages-list__items-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages-list__items icon-icecreem">
                <p class="advantages-list__items-text">84</p>
                <p class="advantages-list__items-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>