<section class="advantages" id="advantages">
    <div class="container">
    <h2 class="visually-hidden">Our product advantages</h2>
    <ul class="advantages--list list">
        <li class="advantages--list__items">
            <!-- <img src="images/advantages/icon-milk.png" alt="icon cup with milk"> -->
            <p class="advantages--list__items--text">721</p>
            <p class="advantages--list__items--descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages--list__items">
            <!-- <img src="images/advantages/icon-apples.png" alt="icon cup with milk"> -->
            <p class="advantages--list__items--text">16kg</p>
            <p class="advantages--list__items--descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages--list__items">
            <!-- <img src="images/advantages/icon-icecreem.png" alt="icon cup with milk"> -->
            <p class="advantages--list__items--text">84</p>
            <p class="advantages--list__items--descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>





    </ul>



       

        </div>
</section>