<section class="section section-contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts and locations</h2>
    <ul class="contacts list">
      <li class="contacts__item">
        <span class="contacts__title">Cafe</span>
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">Chicago</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__title contacts__title--foodtrack"
          >Foodtruck</span
        >
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">Los Angeles</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__title">Cafe</span>
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">New York</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-button">
      <button class="contacts-button__location" type="button">
        Our Locations
        <svg width="4px" height="8px">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="contacts-button__franchise" type="button">
        Franchise
        <svg width="4px" height="8px">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
