<section class="section section-contacts" id="contacts">
  <div class="container section-container">
    <h2 class="visually-hidden">Our contacts and locations</h2>
    <ul class="contacts list">
      <li class="contacts__item">
        <span class="contacts__title">Cafe</span>
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">Chicago</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr contacts__links">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__title contacts__title--foodtrack"
          >Foodtruck</span
        >
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">Los Angeles</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr contacts__links">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__title">Cafe</span>
        <ul class="list">
          <li class="contacts__descr">
            <p class="contacts__name">New York</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts__descr">
            <ul class="work list">
              <li class="work__item">
                <p class="work__day">Monday - Friday</p>
                <p class="work__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work__item">
                <p class="work__day">Saturday - Sunday</p>
                <p class="work__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__descr contacts__links">
            <a class="contacts__link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-button">
      <button
        class="contacts-button__location"
        type="button"
        data-modal-contacts-open
      >
        Our Locations
        <svg class="contacts-button__icon-locations" width="20" height="20">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="contacts-button__franchise" type="button">
        Franchise
        <svg class="contacts-button__icon-franchise" width="20" height="20">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Modal -->

  <div class="contacts__backdrop is-hidden" data-modal-contacts>
    <div class="contacts-modal">
      <button class="contacts-modal__btn" data-modal-contacts-close>
        <svg class="modal__icon-close" width="20px" height="20px">
          <use href="./images/icons.svg#icon-close-modal"></use>
        </svg>
      </button>
      <ul class="list">
        <li class="contacts-modal__items">
          <p class="section__subtitle">Chicago cafe</p>
          <div class="contacts-modal__office">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1011.703490926833!2d-87.60501079158838!3d41.80953740472021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1660286326921!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </li>
        <li class="contacts-modal__items">
          <p class="section__subtitle">Los Angeles Food Truck</p>
          <div class="contacts-modal__office">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1810.8284374319435!2d-117.99686225825678!3d33.65524804294335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slos%20angeles!5e0!3m2!1sru!2sua!4v1660246742589!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </li>
        <li class="contacts-modal__items">
          <p class="section__subtitle">New York Cafe</p>
          <div class="contacts-modal__office">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d762.9044300946381!2d-73.98525910139051!3d40.753666565224464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1660246984602!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
