<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Our contacts and locations</h2>
    <ul>
      <li>
        <div>
          <span>Cafe</span>
          <ul>
            <li>
              <span>Chicago</span>
            </li>
            <li>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul>
            <li>
              <span>Monday - Friday</span>
              <span>06:00 AM - 10:00 PM</span>
            </li>
            <li>
              <span>Saturday - Sunday</span>
              <span>08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul>
            <li>
              <a class="link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <span>Foodtruck</span>
          <ul>
            <li>
              <span>Los Angeles</span>
            </li>
            <li>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul>
            <li>
              <span>Monday - Friday</span>
              <span>06:00 AM - 10:00 PM</span>
            </li>
            <li>
              <span>Saturday - Sunday</span>
              <span>08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul>
            <li>
              <a class="link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <span>Cafe</span>
          <ul>
            <li>
              <span>New York</span>
            </li>
            <li>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
          </ul>
          <ul>
            <li>
              <span>Monday - Friday</span>
              <span>06:00 AM - 10:00 PM</span>
            </li>
            <li>
              <span>Saturday - Sunday</span>
              <span>08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <ul>
            <li>
              <a class="link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchise</button>
  </div>
</section>
