<section class="section reviews">
  <div class="container">
    <h2 class="reviews__title">Customer Reviews</h2>
    <div class="reviews__wrapper slide slide-one">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/customers/customer-1.png    1x,
            ./images/customers/customer-1@2x.png 2x,
            ./images/customers/customer-1@3x.png 3x
          "
          type="image/png"
        />
        <img
          class="reviews__customer-photo"
          src="./images/customers/customer-1.png"
          alt=""
        />
      </picture>

      <p class="reviews__customer-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p class="reviews__customer-name">Emily, Los Angeles</p>
    </div>
    <!-- <div class="reviews__wrapper slide slide-two">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/customers/customer-2.png    1x,
            ./images/customers/customer-2@2x.png 2x,
            ./images/customers/customer-2@3x.png 3x
          "
          type="image/png"
        />
        <img
          class="reviews__customer-photo"
          src="./images/customers/customer-2.png"
          alt=""
        />
      </picture>
      <p class="reviews__customer-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p class="reviews__customer-name">Emily, Los Angeles</p>
    </div>
    <div class="reviews__wrapper slide slide-three">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/customers/customer-3.png    1x,
            ./images/customers/customer-3@2x.png 2x,
            ./images/customers/customer-3@3x.png 3x
          "
          type="image/png"
        />
        <img
          class="reviews__customer-photo"
          src="./images/customers/customer-3.png"
          alt=""
        />
      </picture>
      <p class="reviews__customer-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p class="reviews__customer-name">Emily, Los Angeles</p>
    </div> -->
    <!-- <ul class="reviews__slider-list">
      <li>
        <input
          id="slide-1"
          class="reviews__slider"
          type="radio"
          name="slides"
          checked
        />
      </li>
      <li>
        <input
          id="slide-2"
          class="reviews__slider"
          type="radio"
          name="slides"
        />
      </li>
      <li>
        <input
          id="slide-2"
          class="reviews__slider"
          type="radio"
          name="slides"
        />
      </li>
    </ul>
    <label class="reviews__switch" for="slide-1">1</label>
    <label class="reviews__switch" for="slide-2">2</label>
    <label class="reviews__switch" for="slide-3">3</label> -->
  </div>
</section>
