<section class="section--gallery">
   <div class="gallery">
    <h2 hidden>Gallery</h2>
        <picture class="gallery__foto__one">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-1_desk.png 1x,./images/gallery/gallery-1_desk@2x.png 2x, ./images/gallery/gallery-1_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-1_tab.png 1x,./images/gallery/gallery-1_tab@2x.png 2x, ./images/gallery/gallery-1_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-1_mob.png 1x,./images/gallery/gallery-1_mob@2x.png 2x, ./images/gallery/gallery-1_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-1_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__two">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-2_desk.png 1x,./images/gallery/gallery-2_desk@2x.png 2x, ./images/gallery/gallery-2_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-2_tab.png 1x,./images/gallery/gallery-2_tab@2x.png 2x, ./images/gallery/gallery-2_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-2_mob.png 1x,./images/gallery/gallery-2_mob@2x.png 2x, ./images/gallery/gallery-2_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-2_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__three">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-3_desk.png 1x,./images/gallery/gallery-3_desk@2x.png 2x, ./images/gallery/gallery-3_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-3_tab.png 1x,./images/gallery/gallery-3_tab@2x.png 2x, ./images/gallery/gallery-3_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-3_mob.png 1x,./images/gallery/gallery-3_mob@2x.png 2x, ./images/gallery/gallery-3_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-3_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__four">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-4_desk.png 1x,./images/gallery/gallery-4_desk@2x.png 2x, ./images/gallery/gallery-4_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-4_tab.png 1x,./images/gallery/gallery-4_tab@2x.png 2x, ./images/gallery/gallery-4_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-4_mob.png 1x,./images/gallery/gallery-4_mob@2x.png 2x, ./images/gallery/gallery-4_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-4_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__five">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-5_desk.png 1x,./images/gallery/gallery-5_desk@2x.png 2x, ./images/gallery/gallery-5_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-5_tab.png 1x,./images/gallery/gallery-5_tab@2x.png 2x, ./images/gallery/gallery-5_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-5_mob.png 1x,./images/gallery/gallery-5_mob@2x.png 2x, ./images/gallery/gallery-5_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-5_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__six">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-6_desk.png 1x,./images/gallery/gallery-6_desk@2x.png 2x, ./images/gallery/gallery-6_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-6_tab.png 1x,./images/gallery/gallery-6_tab@2x.png 2x, ./images/gallery/gallery-6_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-6_mob.png 1x,./images/gallery/gallery-6_mob@2x.png 2x, ./images/gallery/gallery-6_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-6_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__seven">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-7_desk.png 1x,./images/gallery/gallery-7_desk@2x.png 2x, ./images/gallery/gallery-7_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-7_tab.png 1x,./images/gallery/gallery-7_tab@2x.png 2x, ./images/gallery/gallery-7_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-7_mob.png 1x,./images/gallery/gallery-7_mob@2x.png 2x, ./images/gallery/gallery-7_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-7_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__eight">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-8_desk.png 1x,./images/gallery/gallery-8_desk@2x.png 2x, ./images/gallery/gallery-8_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-8_tab.png 1x,./images/gallery/gallery-8_tab@2x.png 2x, ./images/gallery/gallery-8_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-8_mob.png 1x,./images/gallery/gallery-8_mob@2x.png 2x, ./images/gallery/gallery-8_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-8_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__nine">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-9_desk.png 1x,./images/gallery/gallery-9_desk@2x.png 2x, ./images/gallery/gallery-9_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-9_tab.png 1x,./images/gallery/gallery-9_tab@2x.png 2x, ./images/gallery/gallery-9_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-9_mob.png 1x,./images/gallery/gallery-9_mob@2x.png 2x, ./images/gallery/gallery-9_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-9_mob.png" alt="gallery" />
        </picture>

        <picture class="gallery__foto__ten">
            <source media="(min-width: 1200px)"
                srcset="./images/gallery/gallery-10_desk.png 1x,./images/gallery/gallery-10_desk@2x.png 2x, ./images/gallery/gallery-10_desk@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 768px)"
                srcset="./images/gallery/gallery-10_tab.png 1x,./images/gallery/gallery-10_tab@2x.png 2x, ./images/gallery/gallery-10_tab@3x.png 3x"
                type="image/jpg" />

            <source media="(min-width: 320px)"
                srcset="./images/gallery/gallery-10_mob.png 1x,./images/gallery/gallery-10_mob@2x.png 2x, ./images/gallery/gallery-10_mob@3x.png 3x"
                type="image/jpg" />

            <img src="./images/gallery/gallery-10_mob.png" alt="gallery" />
        </picture>
    </div>
</section>