<header class="header">

    <div class="header__nav-mobile container">
        <a href=""><img class="header__logo-mobile" src="./images/logo.svg" alt="Company logo" width="199" height="50"></a>
        <button class="header__btn-mobile" type="button" data-menu-button>
            <svg class="icon" width="20" height="12" aria-label="Перемикач мобільного меню">
                <use class="icon__mobile-burger" href="./images/icons.svg#icon-mobile-burger"></use>
                <use class="icon__mobile-close" href="./images/icons.svg#icon-mobile-Burger-close"></use>
            </svg>
        </button>
    </div>

    <div class="header__nav" data-menu>
        <button class="header__btn" type="button">Buy now
            <svg class="header__btn-icon" width="8" height="8">
                <use href="./images/icons.svg#icon-button-arrow"></use>
            </svg>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link nav__link--current" href="#">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
            </ul>
        </nav>
        
    </div>
    
</header>