<header class="header">

    <div class="header__nav container">
        <a class="header__nav-logo" href=""><img src="./images/logo.svg" alt="Company logo" width="199" height="50"></a>
        
        <button class="btn-burger js-open-menu" type="button" >
            <svg width="20" height="12" aria-label="Перемикач мобільного меню">
                <use href="./images/icons.svg#icon-mobile-burger"></use>    
            </svg>
        </button>
        

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link nav__link--current" href="#">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#advantages-id">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <button class="header__btn" type="button" data-header-modal-open>Buy now
            <svg class="header__btn-icon" width="7" height="10">
                <use href="./images/icons.svg#icon-header-arrow"></use>
            </svg>
        </button>

        </div>
    </div>

    <div class="header__backdrop-mobile js-menu-container">
        <div class="header__nav-mobile">
        
            <button class="btn-burger-close js-close-menu" type="button">
                <svg width="14" height="14">
                    <use href="./images/icons.svg#icon-mobile-burger-close"></use>
                </svg>
            </button>
        
            <button class="header__btn-mobile" type="button" data-header-mobile-open>Buy now
                <svg class="header__btn-mobile-icon" width="7" height="10">
                    <use href="./images/icons.svg#icon-header-arrow"></use>
                </svg>
            </button>
        
            <nav class="nav-mobile">
                <ul class="nav-mobile__list">
                    <li class="nav-mobile__item"><a class="nav-mobile__link nav-mobile__link--current" href="#">Home</a></li>
                    <li class="nav-mobile__item"><a class="nav-mobile__link" href="#advantages-id">About us</a></li>
                    <li class="nav-mobile__item"><a class="nav-mobile__link" href="#about">How it’s made?</a></li>
                    <li class="nav-mobile__item"><a class="nav-mobile__link" href="#products">Our products</a></li>
                    <li class="nav-mobile__item"><a class="nav-mobile__link" href="#contacts">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</header>