<section class="section-hero">
    <div class="container hero">
      <div class="icecream hero__icecream">
        <picture>
          <source 
            media="(min-width: 1200px)"
            srcset="./images/hero/hero-1_desk.png 1x, ./images/hero/hero-1_desk@2x.png 2x, ./images/hero/hero-1_desk@3x.png 3x"
            type="image/png"
          />
          <source 
            media="(min-width: 768px)"
            srcset="./images/hero/hero_tab-1.png 1x, ./images/hero/hero_tab-1@2x.png 2x, ./images/hero/hero_tab-1@3x.png 3x"
            type="image/png"
          />
          <source 
            media="(max-width: 767px)"
            srcset="./images/hero/hero_mob.png 1x, ./images/hero/hero_mob@2x.png 2x, ./images/hero/hero_mob@3x.png 3x"
            type="image/png"
          />
          <img class="icecream__image" src="./images/hero/hero_mob.png" alt="IceCream">
        </picture>
      </div>
    <div class="title-box hero__title">
      <h1 class="hero__title">ice cream<br>made with<br>
        <span class="hero__title hero__title--large">passion</span></h1>
      </div>
        <div class="button-set hero__button-set">
        <button type="button" class="button-set__prod">Products</button>
        <button type="button" class="button-set__how">How it’s made?</button>
        </div>
        <div>
            <ul class="list hero-list">
                <li class="hero-list__item">16</li>
                <li class="hero-list__item-small">cafes</li>
                <li class="hero-list__item">23</li>
                <li class="hero-list__item-small">food trucks</li>
            </ul>
        </div>

        <div class="milk hero__milk">
          <picture>
            <source 
              media="(min-width: 1200px)"
              srcset="./images/hero/hero-2_desk.png 1x, ./images/hero/hero-2_desk@2x.png 2x, ./images/hero/hero-2_desk@3x.png 3x"
              type="image/png"
            />
            <source 
              media="(min-width: 768px)"
              srcset="./images/hero/hero_tab-2.png 1x, ./images/hero/hero_tab-2@2x.png 2x, ./images/hero/hero_tab-2@3x.png 3x"
              type="image/png"
            />
            <img class="milk__image" src="./images/hero/hero_tab-2.png" alt="IceCream">
          </picture>
          <div class="description">
          <p class="milk__description">Our products are made exclusively using BIO (ECO) ingredients, which are certified by international standards.</p>
          <a class="link milk__link" href="#">
            <svg
              class="milk__arrow"
              width="18"
              height="18">
              <use></use>
            </svg>
          </a>
        </div>
        </div>
        <div class="hero__tasty">
            <picture>
                <source 
                  media="(min-width: 1200px)"
                  srcset="./images/hero/hero-3_desk.png 1x, ./images/hero/hero-3_desk@2x.png 2x, ./images/hero/hero-3_desk@3x.png 3x"
                  type="image/png"
                />
                <source 
                  media="(min-width: 768px)"
                  srcset="./images/hero/hero_tab-3.png 1x, ./images/hero/hero_tab-3@2x.png 2x, ./images/hero/hero_tab-3@3x.png 3x"
                  type="image/png"
                />
                <img class="milk__image" src="./images/hero/hero_tab-3.png" alt="IceCream">
              </picture>
        </div>
    </div>
  </section>