@import '~node_modules/modern-normalize/modern-normalize.css';

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section__subtitle { 
    font-family: "Titan One"; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 1.16; 
    text-align: center; 
    text-transform: uppercase; 
     
    color: #FFA5BA; 
     
    @media screen and (min-width:768px) { 
    font-size: 26px; 
    line-height: 1.15; 
    } 
     
    @media screen and (min-width:1200px) { 
    font-size: 30px; 
    line-height: 1.13; 
    } 
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

