.sections__background {
background: $bg-section-secondary;
width: 100%;

background-repeat: no-repeat;


@media screen and (max-width:320px) { 
background-image: none;
}

@media screen and (min-width: 767px) {
background-image: none;
}

@media screen and (min-width:768px) { 
background-image: none;
}

@media screen and (min-width: 1200px) {
background-position: center;
background-size: contain;
background-image: url(/src/images/about/about-1_desk.png);
}

@media screen and (min-width: 1800px) {
background-position: center;
background-size: cover;
background-image: url(/src/images/about/about-1_desk.png);
}
}

.about {
width: 100%;

margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;

@media screen and (min-width: 768px) {
max-width: 768px;

padding-left: 32px;
padding-right: 32px;
}

@media screen and (min-width: 1200px) {
max-width: 1200px;

padding-left: 0px;
padding-right: 0px;
}
}

.about__subtitle {
margin-bottom: 15px;

font-family: "Titan One"; 
font-weight: 400; 
font-size: 18px; 
line-height: 1.16; 
text-align: center; 
text-transform: uppercase; 
 
color: $color-subtitle; 
 
@media screen and (min-width:768px) { 
margin-bottom: 16px;
font-size: 26px; 
line-height: 1.15; 
} 
 
@media screen and (min-width:1200px) {
margin-bottom: 16px;

font-size: 30px; 
line-height: 1.13; 
} 
}

.about__header {
width: 100%;

padding: 0px;
margin-bottom: 32px;
margin-left: auto;
margin-right: auto;


@media screen and (max-width: 320px) {
width: 200px;
}

@media screen and (min-width:768px) { 
margin-bottom: 40px;
} 

@media screen and (min-width:1200px) { 
margin-bottom: 60px;
} 
}

.about__list {
width: 100%;

@media screen and (min-width:768px) { 
display: flex; 
} 
}

.about__png {
width: 100%;
height: 100%;

@media screen and (max-width: 767px) {
margin-bottom: 25px;
margin: 0 auto;
width: 280px;
height: 280px;
}

@media screen and (min-width:768px) { 
width: 336px;
height: 335px;
} 
 
@media screen and (min-width:1200px) {
width: 501px;
height: 501px;
} 
}

.about__message {
margin-right: auto;

@media screen and (max-width:320px) { 
width: 280px;
}

@media screen and (min-width:768px) { 
margin-left: 32px;
}

@media screen and (min-width:1200px) { 
margin-left: 99px;

background-image: none;
}
}

.about__background {
width: 100%;
background-size: contain;
background-repeat: no-repeat;
background-position-y: 45%;

background-image: url(/src/images/about/about-2_mob.png);

@media screen and (min-width:413px) { 
background-repeat: no-repeat;
background-size: cover;
background-position-y: 45%;
background-image: url(/src/images/about/about-2_mob.png);

// Retina mob
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
background-image: url(/src/images/about/about-2_mob@2x.png);
background-size: cover;
}

@media (min-device-pixel-ratio: 3),
 (min-resolution: 288dpi),
 (min-resolution: 3dppx) {
background-image: url(/src/images/about/about-2_mob@3x.png);
background-size: cover;
}
}

@media screen and (min-width: 768px) {
background-image: none;
}

@media screen and (min-width:1200px) { 
background-image: none;
}
}

.about__text {
width: 100%;

margin-right: auto;

font-family: 'DM Sans';
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color: $color-black;

@media screen and (max-width: 320px) {
width: 220px;

margin-bottom: 25px;
}

@media screen and (min-width: 321px) {
margin-bottom: 25px;
}

@media screen and (min-width:768px) { 
width: 334px;

margin-bottom: 20px;

font-size: 14px;
line-height: 1.76; 
} 
 
@media screen and (min-width:1200px) { 
width: 467px;

margin: 90px 0px 32px;

font-size: 16px;
line-height: 1.76;
letter-spacing: 0.04em;
} 

&--grey {
font-family: 'DM Sans';
font-weight: 500;
font-size: 12px;
line-height: 1.62;
color: $color-text-main;

@media screen and (max-width: 767px) {
margin-bottom: 20px;
}

@media screen and (min-width:768px) { 
margin-bottom: 40px;

font-size: 14px;
line-height: 1.76;
letter-spacing: 0.04em;
} 
 
@media screen and (min-width:1200px) { 
margin: 0px 0px 40px;

font-size: 14px;
line-height: 1.94;
letter-spacing: 0.04em;
} 
}
}

.about__span {
display: inline-block;
margin-top: 10px;

@media screen and (min-width:768px) { 
margin-top: 10px;
}

@media screen and (min-width:1200px) { 
margin-top: 27px;
}
}

.about__button {
width: 176px;
padding: 0;
height: 44px;
cursor: pointer;

border-radius: 22px;
background-color: $color-white;
border: none;

font-weight: 700;
font-size: 14px;
line-height: 1.28;
color: $color-accent-main;
transition: color $timing-function $transition-duration, background-color $timing-function $transition-duration, border-radius $timing-function $transition-duration;

@media screen and (min-width: 321px) {
font-size: 16px;
line-height: 1.31;;
}

&:hover,
&:focus {
background-color: $btn-hover
}
}

.about__button--icon {
fill: none;
margin-left: 14px;

@media screen and (min-width: 1200px) {
margin-left: 12px;
}
}