.reviews {
  background-color: $color-white;

  @media screen and (min-width: 768px) {
    padding-top: 61px;
  }
}

.reviews__title {
  visibility: hidden;
  width: 0;
  height: 0;
}

.reviews__customer-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.reviews__customer-text {
  position: relative;
  z-index: 1;

  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 9px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;

  background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 30px);
  color: $color-black;

  @media screen and (min-width: 768px) {
    padding-right: 49px;
    padding-left: 44px;
    padding-bottom: 0;

    font-size: 14px;
    line-height: 2.14;

    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 36px;
    padding-right: 35px;

    font-size: 16px;
    line-height: 1.87;
  }
}

.reviews__text-background {
  width: 180px;
  height: 217px;

  margin-left: auto;
  margin-right: auto;
  // padding-bottom: 1px;

  background: repeating-linear-gradient(
    #fafafa 0px,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );

  @media screen and (min-width: 768px) {
    width: 608px;
    height: 108px;
  }

  @media screen and (min-width: 1200px) {
    width: 822px;
    height: 75px;
  }
}

.reviews__customer-text::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  bottom: 0 px;

  margin-top: 42px;

  display: block;

  background-color: $color-slider-dots;

  box-shadow: -20px 0 0 $color-slider-dots, 20px 0 0 $color-slider-dots;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 55px;
  }
}

.reviews__customer-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: $color-black;

  margin-top: 53px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.reviews__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 620px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
  }
}

.reviews__text-wrapper {
  z-index: 3;
  // width: 280px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 43px 50px 17px;

  background-color: $bg-section-comment;

  @media screen and (min-width: 768px) {
    width: 620px;
    margin: 0 auto;
    padding: 37px 6px 36px
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 47px 74px 31px 72px;
  }
}

.reviews__customer-text::before {
  content: '';
  width: 54px;
  height: 40px;
  z-index: -1;

  position: absolute;
  display: block;
  top: -20px;
  left: 5px;
  background-image: url('/src/images/customers/quotes-mob.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/customers/quotes-tab.png');

    width: 60px;
    height: 40px;
    top: -15px;
    left: 0px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/src/images/customers/quotes.png');
    width: 54px;
    height: 40px;
    top: -15px;
    left: 0;
  }
}
.slick-slide-controil00::before {
  size: 22px;
  background-color: green;
  color: red($color: red);
}

.slick-dots li.slick-active button:before {
  background-image: url(../images/customers/dots.png);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-size: contain;
  width: 12px;
  height: 17px;
}

.slick-dots li button:before {
  font-size: 12px;
  width: 1px;
  height: 17px;
}