.footer {
    padding: 0;

    background-color: #FFF5F6;

    @media screen and (min-width: 1200px) {
        padding-top: 60px;
    }
}

.footer__container {
    display: flex;
    flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline; 

            padding-left: 16px;
            padding-right: 16px;
        }

        @media screen and (min-width: 1200px) {
            align-items: baseline; 
        }
}

.footer__titles-group {
    margin-bottom: auto;
}

.footer__group {
    margin-top: 40px;
    margin-left: 0px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 12px;
    }
}

.footer__subtitle {
    display: block;
    width: 232px;

    margin-bottom: 16px;
    text-align: left;

    @media screen and (min-width: 768px) {
        width: 340px;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
        width: 472px;
    }
    
}

.footer__title {
    display: block;
    width: 200px;

    text-align: left;

    @media screen and (min-width: 768px) {
        width: 340px;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
        width: 477px;
    }
}

.footer-social-media__list {
    display: flex;
    justify-content: flex-end;
    gap: 28px;

    margin-bottom: 40px;
}

.footer__contact {

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;

    text-align: right;
}

.footer__call-to-action {
    color: $color-black;
}

.footer__link {
    color: $color-accent-main;
}

.footer__text {
    margin: 0;

    width: 140px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    color: #907E82;

    @media screen and (min-width: 768px) {
        width: 278px;
    }
}

.footer__box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    padding-top: 16px;
    padding-bottom: 3px;

    width: 100%;
    border-top: 1px solid #E1E1E1;

    @media screen and (min-width: 768px) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 7px;
        padding-bottom: 4px;
    }
}

// Icons styles

.footer-social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 34px;
    width: 34px;

    background-color: #FEA5BB;
    border-radius: 50%;

    
    fill: $color-white; 

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-accent-main;
    }
}


