.header__nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 100;
}

.header__nav-logo {
    @media screen and (max-width: 767px) {
        margin-top: 8px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 37px;
    } 
}

//* навигация десктоп *//

.nav {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    margin-left: 128px;
    margin-top: 52px;
    padding: 0;
}

.nav__item {
    &:not(:last-child) {
        margin-right: 35px;
    }
}

.nav__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: $color-white;

    &--current {
        color: $color-accent-main;
    }

    &:hover,
    &:focus {
        color: $color-accent-main;
    }

    transition: color $transition-duration $timing-function;
}

//* главная кнопка *//

.header__btn {
    padding: 0;
    height: 44px;

    border-radius: 22px;
    background-color: $color-white;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $color-accent-main;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $btn-hover
    }

    transition: background-color $transition-duration $timing-function;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        margin-left: 32px;
        width: 160px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 40px;
        margin-left: auto;
        width: 159px;
    }
}

.header__btn-icon {
    fill: none;
    margin-left: 14px;

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
}


//* мобильное меню (кнопка открытия) *//

.btn-burger {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    
    border: none;
    background-color: transparent;

    z-index: 103;

    @media screen and (max-width: 767px) {
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        margin-top: 46px;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

//* мобильное меню (кнопка закрытия) *//

.btn-burger-close {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        right: 32px;
    }
}

//* мобильное меню (кнопка Buy now) *//

.header__btn-mobile {
    margin: 58 auto 20 auto;
    padding: 11px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;

    width: 209px;
    height: 44px;

    border: none;
    border-radius: 22px;
    background-color: $color-white;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $color-accent-main;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 186px;
    }
}

.header__btn-mobile-icon {
    fill: none;
    margin-left: 28px;

    @media screen and (min-width: 768px) {
        margin-left: 21px;
    }
}

//* мобильное меню (навигация) *//

.header__nav-mobile {
    position: fixed;
    top: 0px;

    transform: translateX(100%);

    height: 100%;

    background-color: $bg-mobile-menu;

    z-index: 102;
    transition: transform 500ms;

    @media screen and (max-width: 767px) {
        left: 0px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        right: 0px;
        width: 254px;
    }
}

.header__nav-mobile.is-open {
    transform: translateX(0);
}

.nav-mobile__list {
    padding: 0;
}

.nav-mobile__item {
    height: 42px;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.nav-mobile__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    align-items: center;

    color: $color-white;

    &--current {
        color: $color-accent-main;
    }

    &:hover,
    &:focus {
        color: $color-accent-main;
    }
}





