.section-hero {
    z-index: 1;
    font-family: $font-family-second;
    background-color: $bg-pink-hero;
    padding: 0 0;
}
.hero {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 502px;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 767px) {
        min-width: 320px;
        padding-left: 20px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        height: 416px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
        height: 664px;
    }
}
.title-box {
    position: absolute;
    z-index: 3;
    bottom: 202px;
    @media screen and (min-width: 768px) {
        bottom: 234px;
    }
    @media screen and (min-width: 1200px) {
        bottom: 380px;
    }
}
.hero__title {
    z-index: 4;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
    color: $color-white;
    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.12em;
    }
    @media screen and (min-width: 1200px) {
        font-size: 38px;
    }
}
.hero__title--large {
    font-size: 48px;
    line-height: 0.9em;
    color: $color-accent-main;
    @media screen and (min-width: 768px) {
        font-size: 34px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}
.icecream:before {
    content: "";
    position: absolute;
    width:346px;
    height: 344px;
    border-radius: 50%;
    background: $color-subtitle;
    
    @media screen and (max-width: 767px) {
        right: -62px;
        bottom: 75px;
    }
    @media screen and (min-width: 768px) {
        width: 335px;
        height: 333px;
        right: 185px;
        bottom: 40px;
    }
    @media screen and (min-width: 1200px) {
        width: 534px;
        height: 534px;
        right: 149px;
        bottom: 76px;
    }
}
.icecream__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 27px;
    @media screen and (min-width: 768px) {
        right: 303px;
    }
    @media screen and (min-width: 1200px) {
        right: 328px;
    }
}
.button-set {
    position: absolute;
    display: flex;
    bottom: 158px;
    z-index: 4;
    @media screen and (min-width: 768px) {
        bottom: 190px;
    }
    @media screen and (min-width: 1200px) {
        bottom: 316px;
    }
}
.button-set__link-prod {
    margin-right: 8px;
    width: 62.4px;
    height: 24px;
    background: $color-accent-main;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: $font-family;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: $color-white;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: #B81C42;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        width: 107px;
        height: 40px;
        margin-right: 12px;
    }
}
.button-set__link-how {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 82.8px;
    height: 24px;
    background: $color-white;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2em;
    color: $color-accent-main;
    &:hover,
    &:focus {
        background: $btn-hover;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
        width: 138px;
        height: 40px;
        font-size: 14px;
    }
}
.hero__milk {
    position: absolute;
    justify-content: left;
    align-items: center;
    display: flex;
    bottom: 16px;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        left: 25px;
        bottom: 57px;
    }
}
.milk__description {
    font-family: $font-family;
    width: 114px;
    height: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5em;
    color: $color-white;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        width: 200px;
    }
}
.milk__link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: $color-white;
    @media screen and (min-width: 1200px) {
        width: 26px;
        height: 26px;
    }
}
.milk__arrow {
    fill: $color-accent-main;
}
.description {
    display: flex;
    flex-direction: column;
}
.hero__tasty {
    position: absolute;
    bottom: 0;
    right: 32px;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        right: 16px;
    }
}
.hero-list {
    z-index: 3;
    position: absolute;
    right: 40px;
    bottom: 221px;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        bottom: 344px;
        right: 32px;
    }
}
.hero-list__item {
    position: relative;
    margin-bottom: 0;
    font-style: Regular;
    font-size: 28px;
    line-height: 1.18em;
    color: $color-accent-main;
    text-align: right;
    @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.2em;
    }
}
.hero-list__item-small {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.14em;
    text-align: right;
    color: $color-white;

    &:nth-child(2) {
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.4em;
        &:nth-child(2) {
            margin-bottom: 15px;
        }
    }
}
.hero-list__item:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color-white;
    
    @media screen and (max-width: 767px) {
       display: none;
    }
    @media screen and (min-width: 768px) {
        right: -8px;
        bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        width: 30px;
        height: 30px;
        right: -16px;
        bottom: 30px;
    }
}
// Modal Section Hero
.backdrop {
    z-index: 122;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 950ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.backdrop-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    z-index: 44;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background-color: $color-white;
    border: 4px solid $color-subtitle;
    overflow-y: scroll;
    font-family: $font-family;
    @media screen and (min-width: 1200px) {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}
.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: none;
    justify-content: center;
    cursor: pointer;

&:hover svg,
&:focus svg {
    fill: $color-subtitle;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
.modal__icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #6D6868;
}