.products {
  background-color: $color-white;

  &__container {
    max-width: 480px;

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__section-title {
    margin-top: 15px;
    margin-bottom: 148px;

    @media screen and (min-width: 768px) {
      margin-top: 18px;
      margin-bottom: 158px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 16px;
      margin-bottom: 281px;
    }
  }

  &__section-subtitle.section__subtitle {
    margin-bottom: 0;
  }

  &__title {
    position: relative;
    margin-bottom: 70px;

    font-family: $font-family-second;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-white;

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(34 / 30);
    }
  }

  &__title::after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    bottom: -32px;
    transform: translate(-50%, -0%);
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: $color-white;
    box-shadow: -10px 0 0 $color-white, 10px 0 0 $color-white;
  }

  &__text {
    margin-bottom: 32px;
    height: 124px;
    overflow: hidden;

    font-family: $font-family;
    font-weight: 700;
    font-size: $font-size;
    line-height: calc(21 / 14);
    text-align: center;
    letter-spacing: 0.04em;

    color: $color-white;

    @media screen and (min-width: 768px) {
      line-height: calc(24.6 / 14);
      height: 150px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;

      height: 106px;
      font-size: 16px;
      line-height: calc(28 / 16);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 140px;

    @media screen and (min-width: 768px) {
      gap: 16px;
    }

    @media screen and (min-width: 1200px) {
      gap: 32px;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: block;

    margin-left: auto;
    margin-right: auto;

    color: $color-accent-main;
    background-color: $color-white;
    border-color: transparent;
    cursor: pointer;

    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function;

    &:hover,
    &:focus {
      outline: none;
      color: $color-white;
      background-color: $color-accent-main;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.products__item {
  position: relative;
  max-height: 489px;
  padding: 160px 40px 40px;

  text-align: center;

  border-radius: 24px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - (3 - 1) * 16px) / 3);
    max-height: 473px;
    padding: 118px 32px 40px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (3 - 1) * 32px) / 3);
    max-height: 535px;
    padding: 165px 63px 60px;
  }

  &--ice-cream {
    background-color: $bg-pink-hero;
  }

  &--ice-cream::before {
    content: '';
    width: 280px;
    height: 280px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -136%);
    background-image: url('/src/images/product/product-1_mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/product/product-1_mob@2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      background-image: url('/src/images/product/product-1_mob@3x.png');
    }

    @media screen and(min-width:768px) {
      width: 224px;
      height: 224px;
      transform: translate(-50%, -165%);
      background-image: url('/src/images/product/product-1_tab.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-1_tab@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-1_tab@3x.png');
      }
    }

    @media screen and(min-width:1200px) {
      width: 368px;
      height: 394px;
      transform: translate(-50%, -134%);
      background-image: url('/src/images/product/product-1_desk.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-1_desk@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-1_desk@3x.png');
      }
    }
  }

  &--ice-coffee {
    background-color: $color-product-card2;
  }

  &--ice-coffee::before {
    content: '';
    width: 280px;
    height: 280px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -136%);
    background-image: url('/src/images/product/product-2_mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/product/product-2_mob@2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      background-image: url('/src/images/product/product-2_mob@3x.png');
    }

    @media screen and(min-width:768px) {
      width: 224px;
      height: 224px;
      transform: translate(-50%, -165%);
      background-image: url('/src/images/product/product-2_tab.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-2_tab@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-2_tab@3x.png');
      }
    }

    @media screen and(min-width:1200px) {
      width: 368px;
      height: 394px;
      transform: translate(-50%, -134%);
      background-image: url('/src/images/product/product-2_desk.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-2_desk@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-2_desk@3x.png');
      }
    }
  }

  &--milkshakes {
    background-color: $color-product-card3;
  }

  &--milkshakes::before {
    content: '';
    width: 280px;
    height: 280px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -136%);
    background-image: url('/src/images/product/product-3_mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url('/src/images/product/product-3_mob@2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      background-image: url('/src/images/product/product-3_mob@3x.png');
    }

    @media screen and(min-width:768px) {
      width: 224px;
      height: 224px;
      transform: translate(-50%, -165%);
      background-image: url('/src/images/product/product-3_tab.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-3_tab@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-3_tab@3x.png');
      }
    }

    @media screen and(min-width:1200px) {
      width: 368px;
      height: 394px;
      transform: translate(-50%, -134%);
      background-image: url('/src/images/product/product-3_desk.png');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/product/product-3_desk@2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
        background-image: url('/src/images/product/product-3_desk@3x.png');
      }
    }
  }
}

.products__backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgba(255, 184, 202, 0.36);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  left: 50%;
  transform: translateX(-50%) scale(1);

  transition: all $timing-function $transition-duration;
  transition: opacity $timing-function $transition-duration,
    visibility $timing-function $transition-duration;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  max-height: 95vh;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: all $timing-function $transition-duration;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 550px;
    max-height: 600px;
  }

  &--ice-cream {
    background-color: $bg-pink-hero;
  }

  &--ice-coffee {
    background-color: $color-product-card2;
  }

  &--milkshakes {
    background-color: $color-product-card3;
  }

  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $bg-pink-hero;
    border-radius: 50%;
    border: transparent;
    background-color: $color-accent-main;
    cursor: pointer;
    transition: color $timing-function $transition-duration;

    &:hover,
    &:focus {
      color: $color-white;
    }
  }

  &__icon-close {
    fill: currentColor;
    display: block;
  }

  &__img {
    display: block;
    align-items: center;
    max-width: 100%;
  }

  &__products-title {
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 0;

    font-family: $font-family-second;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-slider-dots;

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(34 / 30);
    }
  }

  &__products-text {
    margin-bottom: 0;
    max-height: 150px;
    overflow: visible;
    color: $color-slider-dots;
  }
}

.animate__heartBeat {
  animation: heartBeat;
  animation-duration: 4s;
}